.npMenu {
	ul {
		margin-top: -15px;
	}
	.list-inline {
		margin-left: 0 !important;
	}
   li {
        //padding: 12px 10px 0px 10px;
        //width: 60px;
        //height: 60px;
        //margin:0 10px;
        background-size: 100% 200%;
        //border-radius: 50%;
        -webkit-transition: background-position .5s;
        -moz-transition: background-position .5s;
        transition: background-position .5s;
        text-align: center;
        padding-left: 10px;
        font-size: 2em;
        
    }
    li:hover a {
        color: white;
    }
    .home-btn {
           background-image: linear-gradient(to top,  $darker-gray 50%, $off-white 50%);
    }
    .home-btn:hover {
        background-position: 0 -100%;
    }
    .intro-btn {
        background-image: linear-gradient(to top, $np-red 50%, $off-white 50%);
    }
    .intro-btn:hover {
        background-position: 0 -100%;
    }
    .portfolio-btn {
        background-image: linear-gradient(to top, $np-blue 50%, $off-white 50%);
    }
    .portfolio-btn:hover {
        background-position: 0 -100%;
    }
    .contact-btn {
        background-image: linear-gradient(to top, $np-tan 50%, $off-white 50%);
    }
    .contact-btn:hover {
        background-position: 0 -100%;
    }
    .blog-btn {
        background-image: linear-gradient(to top, $np-gray 50%, $off-white 50%);
    }
    .blog-btn:hover {
        background-position: 0 -100%;
    }
}

h1 {
	font-size: 8em;
}
h2 {
	font-size: 6em;
}
h3 {
	font-size: 4em;
}
h3 {
	font-size: 3em;
}

.mainWrap {
	position:absolute;
    height:100%;
    width:100%;
    margin-top: -15px;
}

.frontPanels {
	text-align: center;
    position:relative;
    height:100%;
    width:100%;
    z-index:1000;
}

.callOut {
    margin-top: -215px;
	background-size: 100%;
    background-repeat: no-repeat;
  	width: 100%;
  	height: auto;
    position:fixed;
    color: $np-red; 
    top: 70px;
    z-index:-99;
    .callOut-copy {
    	text-align: center;
    	color: white;
    	margin-top: 275px;
    	text-shadow: 3px 3px #878787;
        display: none;
    }
}


#styleBar {
	height: 5px;
}
.styleBarFix {
	position: fixed;	
	top: 100px;
}

.intro-copy {
	color: black;
	padding: 50px;
	//margin-top: 58%;
	width: 100%;
	background-color: $off-white;
	height: 300px;
}

.portfolio {
	width: 100%;
	background-color: $np-blue;
	height: 500px;
}

.skillz {
	width: 100%;
	background-color: $off-black;
	height: 450px;
}


.rollOut {
	color: $white;
	display: table;
	height: 400px;
	width: 100%;
	background: url(../img/callout.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.rollout-copy {
		padding-top: 50px;
		h1 {
			font-size: 8em;
		}
	}
}

.contact {
	height: 200px;
	width: 100%;
	background-color: $off-white;
	
}