

h1 {
	font-size: 8em;
}
h2 {
	font-size: 6em;
}
h3 {
	font-size: 4em;
}
h3 {
	font-size: 3em;
}

.mainWrap {
	position:absolute;
    height:100%;
    width:100%;
    margin-top: -15px;
}

.frontPanels {
	text-align: center;
    position:relative;
    //height:100%;
    width:100%;
    z-index:1000;
}



.intro-copy {
	color: black;
	padding: 50px;
	//margin-top: 58%;
	width: 100%;
	background-color: $off-white;
	height: 300px;
}

.skillz {
	width: 100%;
	background-color: $off-black;
	min-height: 450px;
}


.rollOut {
	color: $white;
	display: table;
	height: 400px;
	width: 100%;
	background: url(../img/callout.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.rollout-copy {
		padding-top: 50px;
		h1 {
			font-size: 8em;
		}
	}
}

.contact {
	height: 200px;
	width: 100%;
	background-color: $off-white;
	
}


@media  (max-width : 992px) {
	.intro-copy {
		margin-top: -35px;
	}
}