.navbar {
	position: relative;
	width: 100%;
	border: none;
	z-index: 1001;
	margin-bottom: 0;
	min-height: 35px;

	.site-header {
		background-color: $np-gray;
	}

	.main-logo {
		width: 125px;
		margin: 6px 0;
	}

	nav {
		.nav-menu {
			li {
				padding: 10px;
			}
		}
		
		.menu-main-container {
			float: right;
			font-size: 16px;
			padding: 10px 0;  
		}
	}   
}
