.callOut {
	width: 100%;
  	position:fixed;
    color: $np-red; 
    z-index:-99;

    #bgImage {
        width: 100%;
        //min-height: 709px;
    }
    .callOut-copy {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        z-index: 1;
    	text-align: center;
    	color: white;
    	text-shadow: 3px 3px #878787;
        display: none;
    }
}

@media (max-width : 992px) {
    .callOut-copy {
        top: 0 !important;
        h1 {
            font-size: 5em;
        }
        h2 {
            font-size: 4em;
        }
    }
}