/* Modals */
.modal {

    .modal-dialog {
        border: 2px solid $white;
    }
    
    .modal-title {
        text-align: center;
    }

    .modalContent {
        text-align: center;
        padding: 60px 25px 75px 0;
        color: $white;
        
        ul {

            list-style: none;
        }

        button {
            margin: 20px 0 20px 40px;
        }
    }

    .laptop-container {
        
        padding-top: 30px;
        padding-left: 50px;
    
        img {
            width: 525px;
        }
        video {
            position: absolute;
            top: -182px;
            left: 130px;
        }
    }
}


#egModal {
    img {
        width: 600px;
        float: left;
    }

    .truckWrap {

        padding-top: 50px;
        .modalContent {
            margin-top: 175px;
        }
    }
}