.navbar-collapse.collapse {
	display: inline-flex !important;

}

.modal-dialog {
	width: 85%;
	height: 90%;

	.modal-content {
		background-color: rgba(0, 0, 0, .5);

		.modal-header {
			padding: 25px;
			border-bottom: none;

			button { 
			}

			.close {
				margin-top: -6px;
				color: $white;
				opacity: 1;
				font-size: 30px;
				background-color: rgba(0, 0, 0, .5);
			}
			.modal-title {
				color: $white;
				margin-top: -7px;
				position: absolute;
			}
		}
	}

	.modal-body {
		height: 650px;

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}


.showCase {
	background-color: rgba(0, 0, 0, .5);
	background-color: $np-blue;
	font-size: 18px;
	color: $white;
	padding-bottom: 20px;

	.slideDown {
		i {
			color: $white;
			text-shadow: 2px 2px $np-red;
			font-size: 75px;
		}
		div {
			color: $white;
		}
		width: 50px;
		height: 50px;
		position: absolute;
		right: 50px;
		top: 300px;
		text-align: center;
	}
	
	.entry-content {
		margin: 0;
	}

	.laptop-container {
		margin: 25px 0;
		img {
			width: 80%;
			position: inherit;
			margin-left: 50%;
			transform: translateX(-50%);
		}


		video {
			margin-top: 3.5%;
			position: absolute;
			width: 54%;
			margin-left: 49%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}
}

@media  (max-width : 992px) {
	.showCase {
		.laptop-container {

			video {
				margin-left: 48.7%;
			}
		}
	}
}

