/* Porfolio */
.portfolio {
    width: 100%;
    padding: 50px 0;
    min-height: 575px;
    background-color: $np-blue;

    .portBrief {
        padding: 0 25px 15px;
        font-size: 16px;
    } 

    .uau-flip {
        h4 {
            padding-bottom: 15px;
        }
    }

    /* flipper logos */
    .curbLogo {
        padding-top: 30px;
        width: 65%;
    }
    .egLogo {
      padding-top: 20px;
    }
    .uauLogo {
      border-radius: 50%;
      width: 200px;
    }

    .mob-port-container {
        background-color: #fff;
        padding: 10px;
        // opacity: 0;
        display: none;
    }
}

@media  (max-width : 992px) {
    .mob-port-container {
        //TODO why is the modal.scss overwriting this?!
        display: block !important;
    }

    .flip-container {
        display: none;
    }
    
}
