/* Services */
.skillz {
  color: #ffffff;
  padding: 35px 0;
}  

i.service-icon {
  display: inline-block;
  font-size: 70px;
  width: 140px;  
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}  