/*===================================================================================*/
/*	COLORS
/*===================================================================================*/


//===== Nathan Peters Branding Colors =====//

//Main
$black:					#000000;
$np-red:				#DA3548;
$np-blue:				#505e71;
$np-tan:				#c4aa8c;
$np-gray:				#878787;
$np-darkGray:			#404040;
$white:					#ffffff;

// Greys
$gray-hint:				#eeeeee;
$gray-faded:			#cccccc;
$gray-shadow:			#bbbbbb;
$gray-shadow-dark:		#888888;
$darker-gray: 			#575757;
$off-black:				#191a1b;

//social media colors
$facebook:				#3B5998;
$tumblr:				#395774;
$instagram:				#4E433C;
$gplus:					#C63D2D;
$linkedin:				#4875B4;

// .btn 
.btn-primary {
	background-color: $black;
	color: $white;

	&:hover {
		background-color: $darker-gray;
	}
}